@mixin placeholder($color, $weight) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
        font-weight: $weight;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
        font-weight: $weight;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
        font-weight: $weight;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
        font-weight: $weight;
    }
}
